In [4]:
import pandas as pd
test_series=pd.Series([10,20,30,40,50])
print('The Series Values are:',test_series.values)
print('The Series Index are:',test_series.index.values)

The Series Values are: [10 20 30 40 50]
The Series Index are: [0 1 2 3 4]

In [7]:
s2=pd.Series([80,70,78,99,97],index=['English','Maths','Malayalam','Science','Social'])
print('The marks obtained by students:',s2)

The marks obtained by students:
 English      80
Maths        70
Malayalam    78
Science      99
Social       97
dtype: int64

In [8]:
s2 = pd.Series([80,93,78,85,97], index=['English','Science','Social','Tamil','Maths'])
print("The Marks obtained by student are", s2)

The Marks obtained by student are English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

In [9]:
test_series[1:3]

1    20
2    30
dtype: int64

In [10]:
dict_fruits={'Orange':80,'Grapes':40,'Bananas':50,'Watermelon':70}
fruits=pd.Series(dict_fruits)
print(fruits)

Orange        80
Grapes        40
Bananas       50
Watermelon    70
dtype: int64

In [11]:
type(fruits)

pandas.core.series.Series

In [13]:
fruits['Orange']

80

In [15]:
# DataFrame in Panda
df_marks=pd.DataFrame (s2,columns=['Student1'])
print(df_marks)

         Student1
English        80
Science        93
Social         78
Tamil          85
Maths          97

In [18]:
height=pd.Series([5.3,6.2,8.5,5.8,5.5],index=['Person1','Person2','Person3','Person4','Person5'])
weight=pd.Series([66,89,75,60,59],index=['Person1','Person2','Person3','Person4','Person5'])
# create dataframe
df_person=pd.DataFrame({'Height':height,'Weight':weight})
print(df_person)

         Height  Weight
Person1     5.3      66
Person2     6.2      89
Person3     8.5      75
Person4     5.8      60
Person5     5.5      59