In [3]:
import pandas as pd

series_1=pd.Series([1,2,4,5])
series_1

0    1
1    2
2    4
3    5
dtype: int64

In [4]:
series_2=pd.Series([100,200,300,400])
series_1+series_2

0    101
1    202
2    304
3    405
dtype: int64

In [5]:
series_1-series_2

0    -99
1   -198
2   -296
3   -395
dtype: int64

In [6]:
frame_1=pd.DataFrame({'speed':[22,33,44,33],'temp':[22,66,7,77]})
frame_1

   speed  temp
0     22    22
1     33    66
2     44     7
3     33    77

In [7]:
frame_2=pd.DataFrame({'speed':[1,2,34,4],'temp':[5,6,7,8]})
frame_2

   speed  temp
0      1     5
1      2     6
2     34     7
3      4     8

In [12]:
frame_1-frame_2

   speed  temp
0     21    17
1     31    60
2     10     0
3     29    69

In [9]:
frame_1+frame_2

   speed  temp
0     23    27
1     35    72
2     78    14
3     37    85

In [10]:
frame_1.sort_values('speed')

   speed  temp
0     22    22
1     33    66
3     33    77
2     44     7

In [20]:
frame_1.set_index(['speed','temp'])

Empty DataFrame
Columns: []
Index: [(22, 22), (33, 66), (44, 7), (33, 77)]

In [14]:
frame_1.reindex(columns=['temp','speed'])

   temp  speed
0    22     22
1    66     33
2     7     44
3    77     33

In [17]:
frame_1.sort_values(by='speed',axis=0)

   speed  temp
0     22    22
1     33    66
3     33    77
2     44     7

In [18]:
frame_1.sort_index(axis=0)

   speed  temp
0     22    22
1     33    66
2     44     7
3     33    77

In [21]:
frame_1.sort_index(axis=1,ascending=False)

   temp  speed
0    22     22
1    66     33
2     7     44
3    77     33

In [22]:
frame_1.sum()

speed    132
temp     172
dtype: int64

In [24]:
frame_1.sum(axis=0)

speed    132
temp     172
dtype: int64